#textdomain wesnoth-units
[unit_type]
    id=RB_Goblin_Hut
    name= _ "Goblin Hut"
    race=mechanical
    image="terrain/village/hut2.png"
    hitpoints=30
    movement_type=orcishfoot
    movement=0
    experience=999
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=0
    undead_variation=human
    usage=fighter
die_sound=wose-die.ogg

    description= _ "Recruits Goblin Impalers, Goblin Knights and Goblin Pillagers."

    {DEFENSE_ANIM "terrain/village/hut2.png" "terrain/village/hut2.png" wose-hit.ogg }

[abilities]
{ABILITY_REGENERATES}
[/abilities]

[/unit_type]